server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
      routes:
        - id: cv-service
          uri: lb://cv-ingestion-service
          predicates:
            - Path=/api/cv/**
        - id: ai-service
          uri: lb://ai-scoring-service
          predicates:
            - Path=/api/ai/**
          filters:
            - RewritePath=/api/ai/(?<segment>.*), /api/$\{segment}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
